<h1>CD Collection</h1>
<form class="form-inline" action="/cds" method="post">
  <div class="form-group">
    <label for="cdTitle">CD Title:</label>
    <input type="text" name="cdTitle" id="cdTitle">
  </div>
  <button type="submit" id="addTitle">Submit</button>
</form>

#if ($cd)
  $cd.getTitle()
#end
